# Build
build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
.ninja_deps
.ninja_log
build.ninja
test_prefix/
smoke/

# Cache
.cache/

# Object / library files
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exp
*.pdb
*.ilk

# Executables
*.exe
*.out

# IDE
# Obsidian
*.obsidian
*.trash
# clangd
*.clangd
# code editors
*.zed
.vscode/
.idea/
*.swp
*.swo
*~

# Files
TODO.md
